@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@500&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* button {
  background: transparent; 
  border: none
}

/* Global Styles */
:root {
  /* dark shades of primary color*/
  --clr-white: #fff;
  --clr-primary-1: #edf9fd;
  --clr-primary: #022464;
  --clr-secondary: #DF2935;
  --clr-start-yellow: #F1C40F;
  --clr-dark: #333333;
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Piazzolla', serif;
  --transition: all 0.3s linear;
  --spacing: 0.20rem;
  --radius: 10rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

html, body {
  font-size: 14px;
  font-family: var(--ff-primary);
  background: #f3f3f3;
  color: var(--lightDark);
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input:focus, textarea:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  /* // letter-spacing: $spacing; */
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  /* // text-shadow:  0px 4px 15px rgba(0, 6, 12, 0.3); */
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  color: #494949;
}

.content .content-title {
  margin-top: 6em;
  /* font-family: var(--boldFont); */
  font-size: 1.5em;
}

.core-btn {
  text-transform: uppercase;
  background: var(--clr-secondary);
  color: var(--clr-white);
  padding: 10px 0.95rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 1.1rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  white-space: nowrap;
}
.core-btn:focus {
  outline: none;
}

.core-btn:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
  border: solid 2px var(--clr-secondary);
}

.container {
  width: 90%!important;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

main aside {
  background: var(--clr-primary);
  /* width: 20%; */
  height: 100%;
  position: relative;
  box-shadow: var(--dark-shadow);
}

.user-status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
}
.user-status img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 1rem;
}
.user-status .userName {
  font-weight: 900;
  color: #fff;
  margin: 0.5rem 0;
}
.user-status .regDate {
  color: var(--clr-start-yellow);
}

aside .nav-list {
  margin: 2em 0;
  transition: var(--transition);
}
aside .nav-list li a .fas {
  font-size: 1.2rem;
  padding-right: 10px;
  /* color: #fff; */
  transition: var(--transition);
}
aside .nav-list .dropdown {
  /* background: transparent!important;
  border-radius: none!important; */
}
aside .nav-list .dropdown-toggle {
  background: transparent!important;
}
aside .nav-list li a{
  white-space: nowrap;
  line-height: 3;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding-left: 30px;
  padding-right: 20px;
  text-transform: capitalize;
  color: #fff;
  transition: var(--transition);
  background: var(--clr-primary);
  /* border-bottom: solid 1px #949494; */
}
aside .nav-list li a:hover{
  background: #022464;;
  color: #fff;
}


.dropdown {
  position: relative;
}

.dropdown-menu {
  background: #022464;
}


main article {
  width: 100%;
  overflow-y: scroll;
}

main article .nav {
  color: #333;
  padding: 5px 20px;
  padding: 20px 20px;
  z-index: 2;
  box-shadow: var(--dark-shadow);
}

main article .nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-right: 10rem;
}

main article .nav .container .brand-logo h3 {
  color: var(--clr-primary);
  font-weight: bold;
}

article .content {
  margin-top: 5em;
}

main article .nav h6{
  font-weight: bold;
  color: #333;
}

.dashboard {
  margin-top: 2rem;
}

.notify {
  padding: 20px;
  border: solid 2px var(--clr-primary);
  box-shadow: var(--dark-shadow);
  text-transform: capitalize;
  border-radius: 10px;
  margin: 1rem 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.notify h4 {
  font-weight: bold;
}
.notify .fas {
  font-size: 3rem;
  color: var(--clr-primary);
}

.notify ul li {
  display: flex;
  align-items: center;
}

.notify .amount {
  font-weight: 900;
  color: var(--clr-primary);
}
.notify h3 {
  font-family: var(--ff-secondary);
}

.section-title {
  /* font-family: var(--ff-primary); */
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
  color: #333;
  flex-wrap: wrap;
}

/* Transaction History */
.transactionHistory {
  margin: 2rem 0;
}

/* Investment Plans */
.plans-section {
  margin: 2rem 0;
}
.invest-card {
  height: 90%;
  padding: 4rem 2rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
  margin-bottom: 1rem;
  text-align: center;
}

.invest-card:hover {
  background: var(--clr-dark);
  color: #fff;
}

.invest-card .plan {
  font-weight: 700;
  color: var(--clr-start-yellow);
  font-family: var(--ff-secondary);
}

.invest-card:nth-of-type(2) .plan {
  color: var(--clr-start-yellow);
}

.invest-card:nth-of-type(3) .plan {
  color: var(--clr-secondary);
}

.invest-card .amount {
  font-family: var(--ff-secondary);
  font-weight: 900;
  margin: 1.5rem 0;
}



@media(max-width: 1324px) {
  .invest-card .amount {
    font-size: 2rem;
  }
}

.invest-card ul {
  margin: 2rem 0;
}

.invest-card .active {
  background: #333;
  color: #fff;
}

.invest-card ul li h6 {
  font-weight: 700;
  letter-spacing: var(--spacing);
  font-family: var(--ff-secondary);
  line-height: 1.5;
}

.invest-card a {
  width: 100%;
  text-align: center;
}

.plans-card .invest-card:hover {
  background: #fff;
  color: #333;
}

/* Reset Password Page */
.form {
  padding: 3rem;
  margin: 1rem 0;
  background: #fff;
  border-radius: 5px;
  box-shadow: var(--dark-shadow);
}
.form .title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.form .form-group input::placeholder {
  color: #333;
}
.form .form-group  {
  position: relative;
}

small{
  display: none;
}

.form-group.error small {
  display: block;
  color: var(--clr-secondary);
  font-weight: bold;
}
.form .form-group.success input {
  border-color: var(--clr-primary);
}
.form .form-group.error input {
  border-color: var(--clr-secondary);
}
.form .form-group .fas {
  position: absolute;
  right: 2rem; 
  top: 0.7rem;
  color: #494949;
  font-size: 1.5rem;
}

.form .form-group input, button{
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  border: solid 1px #cccc;
}

.form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: solid 1px #cccc;
  border-radius: 5px;
  margin-top: 10px;
}


.form .form-group input:focus {
  border: solid 1px var(--clr-primary);
  background: var(--clr-primary-1);
}

/* Referral Page */

.referral-link {
  background: #ccc;
  border: 2px solid #8f8f8f;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.referral-link > .fas {
  margin-left: 1rem;
  border-left: solid 1px #8f8f8f;
  padding: 8px;
  font-size: 1.2rem;
  color: var(--clr-primary);
}
.referral-link > span {
  padding: 6px;
  overflow-x: hidden;
  font-weight: 900;
}


/* Table Section */
.table-responsive > table {
  background: #fff;
  padding: 10px;
}

thead {
  background: #022464;
  color: #fff;
}

thead th, tbody td {
  white-space: nowrap;
}

tbody tr .loader-spinner {
  font-size: 0.7rem!important;
}


.currency-selector .bitcoin-img {
  /* width: 200px; */
  margin: 1rem auto;
  padding: 20px;
  box-shadow: var(--dark-shadow);
  border-radius: 5px;
  text-align: center;
  color: #022464;text-transform: uppercase;
}
.currency-selector .bitcoin-img  img{
  width: 200px;
  margin: 1rem auto;
}
.currency-selector .bitcoin-img:hover {
  background: #dbdbdb;
  border: solid 2px #022464;
}

.wallet-dashboard {
  padding: 3rem 6rem;
  margin-top: 1rem;
  font-size: 16px;
  z-index: -9;
  border-radius: 10px;
  background: var(--clr-primary-1);
  box-shadow: var(--dark-shadow);
}

.wallet-dashboard .wallet-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
} 

.wallet-dashboard .fas {
  color: var(--clr-secondary);
  font-size: 1.3rem;
}

.wallet-dashboard h3 {
  color: var(--clr-primary);
  font-weight: 900;
}
.wallet-dashboard h6 {
  color: var(--clr-primary);
  text-transform: capitalize;
}
.wallet-list {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}

.wallet-list a {
  border: solid 1px var(--clr-primary);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0 1rem;
  text-transform: uppercase;
  border-radius: 30px;
  text-decoration: none;
  transition: var(--transition);
  box-shadow: var(--dark-shadow);
  background:  var(--clr-primary);
}
.wallet-list a:hover {
  background: #fff;
  color: var(--clr-primary);
}

.record-card {
  background: #fff;
}
.record-card .re-card {
  padding: 20px;
  padding-top: 20px;
}
.record-card .re-card li {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* border-top: 1px solid #ccc; */
  margin-top: -6px;
}
.record-card .re-card li:nth-child(even) {
  background: #eee;
}
.record-card .re-card li .title {
  font-weight: 900;
  text-transform: capitalize;
}

.loader-spinner {
  background: var(--clr-start-yellow);
  padding: 10px;
  border-radius: 30px;
}
.loader-spinner  span {
  font-weight: bold;
}

.main-title {
  font-weight: 900;
  color: var(--clr-primary);
  margin-top: 2rem;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: var(--light-shadow);
  border-radius: 5px;
}
.address h5 {
  margin-right: 2rem;
  font-weight: 900;
  color: #333;
  font-size: 1.1rem;
}
.qrcode {
  display: flex;
  justify-content: center;
}
.qrcode img {
  width: 40%;
}

.form-group h6 {
  margin: 1rem 0;
  text-align: center;
}

.bugger-show {
  display: none;
}

.reply {
  width: 60%;
  margin: 4rem auto;
  position: relative;
}
.reply .user-resp {
  margin-top: -4rem;
}
.reply .user {
  /* box-shadow: var(--dark-shadow); */
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  /* z-index: 9; */
}
.reply .user-image {
  margin-right: 20px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.reply .user-name {
  font-weight: bold;
  text-transform: capitalize;
  color: #333;
  margin-top: 1rem;
}

.reply .user-reply {
  margin-left: 3rem;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: -2rem;
  border-radius: 10px;
  /* box-shadow: var(--dark-shadow); */
  /* z-index: -9; */
} 

@media(max-width: 800px) {


  .reply {
    width: 100%;
    margin: 4rem auto;
    position: relative;
  }
  .reply .user-reply {
    margin-left: 2rem;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -2rem;
    border-radius: 10px;
  } 
  .reply .user {
    padding: 10px;/
  }
  .reply .text {
    font-size: 0.8rem;
  }
  .reply .user .user-image {
    margin-right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .reply .user-reply .user-image {
    margin-right: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .referral-link {
    background: #ccc;
    border: 2px solid #8f8f8f;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    margin-left: -0.8rem;
  }
  .referral-link .fas {
    font-size: 0.8rem;
  }

  main article .nav {
    background: #fff;
  }

  main article {
    width: 100%;
  }
  main article .nav .container{
    display: flex;
    justify-content: space-between;
    padding-right: 0;
  }

  main article .nav .container .brand-logo h3 {
    color: var(--clr-primary);
    font-size: 1.4rem;
    font-weight: 900;
  }
  .main-title {
    font-weight: 900;
    color: var(--clr-primary);
  }

  main article .nav .user-avata img {
    border-radius: 50%;
    width: 40px;
  }
  .bugger-show {
   display: block;
   margin-top: -0.5rem;
  }
  .bugger-show .line {
    width: 40px;
    height: 4px;
    background: var(--clr-primary);
    margin-bottom: 4px;
    transition: var(--transition);
  }

  .bugger-style .line:nth-child(1) {
    width: 30px;
    transform: rotate(60deg);
    background: var(--clr-secondary);
    margin-bottom: 0;
  }
  .bugger-style .line:nth-child(2) {
    display: none;
  }
  .bugger-style .line:nth-child(3) {
    width: 30px;
    transform: rotate(-60deg);
    background: var(--clr-secondary);
    margin-top: 0;
  }


  main aside {
    color: #fff;
    width: 60%;
    position: fixed;
    z-index: 9;
    transition: var(--transition);
    transform: translate(-100%);
  }

  .show-nav {
    transform: translate(0);
  }
  
  aside .nav-list {
    margin: 1em 0;
    transition: var(--transition);
  }
  aside .nav-list li a{
   font-size: 0.8rem;
  }
  .user-status {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
  } 

  .withdraw {
    width: 100%;
    height: 100%;
    margin: 10% auto;
    box-shadow: var(--shadow);
    padding: 2em;
    background: #fff;
    text-align: center;
    border-radius: 10px;
  }

  .form .form-group input::placeholder {
    color: #333;
    font-size: 0.8rem;
  }

  .form .form-group .fas {
    position: absolute;
    right: 2rem; 
    top: 0.7rem;
    color: #494949;
    font-size: 1rem;
  }

  .section-text .dashboard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
  }

  /* Table Section */
  thead th{
    font-size: 0.7rem;
    white-space: nowrap;
  }
  tbody tr td {
    white-space: nowrap;
    font-size: 0.7rem;
  }

 .wallet-dashboard {
    padding: 2rem 1rem;
    border-radius: 5px;
    z-index: -9;
    /* position: relative; */
    background: var(--clr-primary-1);
    box-shadow: var(--dark-shadow);
  }

  .wallet-dashboard .wallet-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 .wallet-dashboard h3 {
    color: var(--clr-primary);
    font-size: 1.2rem;
  }
  .wallet-dashboard h6 {
    color: #494949;
    white-space: nowrap;
    text-transform: capitalize;
  }

  .user-status img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 1rem;
  }

  .wallet-list a {
    padding: 6px 10px;
    font-size: 0.8rem;
    border: solid 1px var(--clr-primary);
    border-radius: 30px;
    white-space: nowrap;
    text-align: center;
    color:  #fff;
    width: 100%;
    display: inline-block;
    background: var(--clr-primary);
    margin: 0 5px;
    box-shadow: var(--dark-shadow);
  }
  
  .address {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }
  .address h5 {
    font-size: 1rem;
    margin-left: 1.2rem;
  }
  .address .fas {
    font-size: 0.rem;
    display: none;
  }
  .qrcode {
    display: flex;
    justify-content: center;
  }
  .qrcode img {
    width: 40%;
    height: 100px;
    margin: 1rem 0;
  }

  .currency-selector .bitcoin-img  img{
    width: 400px;
    margin: 1rem auto;
  }

  .invest-card {
    height: 90%;
    width: 100%;
    padding: 4rem 1.5rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: var(--dark-shadow);
    transition: var(--transition);
    margin-bottom: 1rem;
  }

  .core-btn {
    font-size: 0.8rem;
    white-space: normal;
  }

  button {
    background: transparent;
  }
  
}